In [3]:
import numpy as np
import pandas as pd
import sklearn

In [4]:
from sklearn.datasets import load_boston
kj = load_boston()

In [5]:
kj.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [6]:
boston = pd.DataFrame(kj.data, columns=kj.feature_names)
boston.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO       B  LSTAT
0  0.00632  18.0   2.31   0.0  0.538  ...  1.0  296.0     15.3  396.90   4.98
1  0.02731   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  396.90   9.14
2  0.02729   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  392.83   4.03
3  0.03237   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  394.63   2.94
4  0.06905   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  396.90   5.33

[5 rows x 13 columns]

In [10]:
boston['kjp'] = kj.target
boston.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...  PTRATIO       B  LSTAT   HSP   kjp
0  0.00632  18.0   2.31   0.0  0.538  ...     15.3  396.90   4.98  24.0  24.0
1  0.02731   0.0   7.07   0.0  0.469  ...     17.8  396.90   9.14  21.6  21.6
2  0.02729   0.0   7.07   0.0  0.469  ...     17.8  392.83   4.03  34.7  34.7
3  0.03237   0.0   2.18   0.0  0.458  ...     18.7  394.63   2.94  33.4  33.4
4  0.06905   0.0   2.18   0.0  0.458  ...     18.7  396.90   5.33  36.2  36.2

[5 rows x 15 columns]

In [11]:
boston.isnull()

      CRIM     ZN  INDUS   CHAS    NOX  ...  PTRATIO      B  LSTAT    HSP    kjp
0    False  False  False  False  False  ...    False  False  False  False  False
1    False  False  False  False  False  ...    False  False  False  False  False
2    False  False  False  False  False  ...    False  False  False  False  False
3    False  False  False  False  False  ...    False  False  False  False  False
4    False  False  False  False  False  ...    False  False  False  False  False
..     ...    ...    ...    ...    ...  ...      ...    ...    ...    ...    ...
501  False  False  False  False  False  ...    False  False  False  False  False
502  False  False  False  False  False  ...    False  False  False  False  False
503  False  False  False  False  False  ...    False  False  False  False  False
504  False  False  False  False  False  ...    False  False  False  False  False
505  False  False  False  False  False  ...    False  False  False  False  False

[506 rows x 15 columns]

In [12]:
boston.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
HSP        0
kjp        0
dtype: int64

In [13]:
from sklearn.model_selection import train_test_split
J = boston.drop('kjp', axis=1)
K = boston['kjp']
J_train, J_test, K_train, K_test = train_test_split(J, K, test_size = 0.15, random_state=5)
print(J_train.shape)
print(J_test.shape)
print(K_train.shape)
print(K_test.shape)

(430, 14)
(76, 14)
(430,)
(76,)

In [17]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [20]:
lin_model = LinearRegression()
lin_model.fit(J_train, K_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [24]:
K_train_predict = lin_model.predict(J_train)
rmse = (np.sqrt(mean_squared_error(K_train, K_train_predict)))

print("The model Performance for training set")
print('RMSE is {}'.format(rmse))
print("\n")

K_test_predict = lin_model.predict(J_test)
rmse = (np.sqrt(mean_squared_error(K_test, K_test_predict)))

print("The modelo performance for testing set")
print('RMSE is {}'.format(rmse))

The model Performance for training set
RMSE is 2.3709191677876552e-14


The modelo performance for testing set
RMSE is 2.3355439547626242e-14